@import "../../../mixins.scss";

section {
  width: 85%;
  margin: auto;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #eaeceb;
  border-radius: 0.4rem;
}

#new_widget_form {
  @include flex(start, space-between, row);
  flex-wrap: wrap;
}

.form_field {
  @include flex(start, start, column, 7px);
  padding: 16px;
  width: 31%;
  background-color: #eaeceb;
  border-radius: 0.2rem;

  > label {
    font-weight: 600;
  }

  > input,
  textarea,
  select {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #e2e5ec;
    border-radius: 0.2rem;
    font-size: 0.825rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;

    &:focus {
      color: #000;
      background-color: var(--bs-body-bg);
      border-color: #b2beb0;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(101, 124, 96, 0.25);
    }
  }
}

#create_btn {
  float: right;
  background-color: #769720;
  padding: 8px;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.cancel_btn {
  margin-right: 8px;
}

mat-icon {
  cursor: pointer;
  font-size: 20px;
}

#form_btn_wrap {
  margin-top: 15%;
  align-self: flex-end;
}
