<section>
  <form id="new_widget_form" #widgetFormElement [formGroup]="profileFormGroup">
    <!-- 
  (ngSubmit)="handleCreateWidget()" -->
    <div class="form_field">
      <label>First Name</label>
      <input formControlName="firstName" type="text" />
    </div>
    <div class="form_field">
      <label>Last Name</label>
      <input formControlName="lastName" type="text" />
    </div>
    <div class="form_field">
      <label>EmailId</label>
      <input formControlName="emailId" type="text" />
    </div>
    <div class="form_field">
      <label>Date of Birth</label>
      <input type="date" formControlName="dob" />
    </div>
    <div class="form_field">
      <label>Gender</label>
      <select formControlName="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div class="form_field">
      <label>New Password (Optional)</label>
      <input
        formControlName="password"
        type="text"
        placeholder="Password@123"
      />
    </div>
    <div class="form_field"></div>
    <div id="form_btn_wrap">
      <button
        [disabled]="profileFormGroup.invalid"
        id="create_btn"
        type="submit"
        (click)="editUserProfile()"
      >
        Update Profile
      </button>
      <button id="create_btn" class="cancel_btn" type="button">Cancel</button>
    </div>
  </form>
</section>
